{% extends 'frame.html' %}

{% block title %}
    选课
{% endblock %}

{% block left_navi %}
    <li class="layui-nav-item"><a href="javascript:course_select();">课程选择</a></li>
    <li class="layui-nav-item"><a href="javascript:select_stat();">选课结果</a></li>
{% endblock %}

{% block main-content %}
    <div id="course_table">
        <table id="course_list" lay-filter="course_list"></table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="select">选择课程</button>
        </div>
    </script>
    <script>
        function course_select() {
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#course_list',
                    height: 700,
                    url: {% url 'get_selectable_courses' %},
                    cellMinWidth: 100,
                    toolbar: '#toolbar',
                    cols: [[
                        {type: 'radio'},
                        {field: 'cid', title: '课程代码', width: 120, sort: true},
                        {field: 'cname', title: '课程名称', width: 120},
                        {field: 'fname', title: '开课学院', width: 120},
                        {field: 'tname', title: '授课教师', width: 120},
                        {field: 'cinfo', title: '课程简介'}
                    ]]
                })

                table.on('toolbar(course_list)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;
                    if (data.length < 1) {
                        layer.msg("请选择课程", {icon: 5, time: 1000});
                    } else {
                        switch (obj.event) {
                            case 'select':
                                layer.confirm('确认选择该课程吗？', {icon: 3, title: '提示'}, function (index) {
                                    $.ajax({
                                        url: '{% url 'course_selected' %}',
                                        type: 'POST',
                                        headers: {"X-CSRFToken": csrftoken},
                                        data: {
                                            cid: data[0].cid
                                        },
                                        success: function (response) {
                                            if (response === 'Success') {
                                                layer.close();
                                                layer.msg("选课成功！", {icon: 6});
                                                table.reload('course_list');
                                            } else if (response === 'UnmetRequirement') {
                                                layer.close();
                                                layer.msg("您没有学习该课程的先修课程，不能进行选课！", {icon: 5});
                                            } else {
                                                layer.close();
                                                layer.msg("选课失败！", {icon: 5});
                                            }
                                        }
                                    });
                                });
                                break;
                        }
                    }
                });
            });
        }

        function select_stat() {
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#course_list',
                    height: 700,
                    url: '{% url 'get_select_stat' %}',
                    page: true,
                    cellMinWidth: 100,
                    initSort: {
                        field: 'cstat',
                        type: 'desc'
                    },
                    cols: [[
                        {field: 'cid', title: '课程代码', width: 120, sort: true},
                        {field: 'cname', title: '课程名称', width: 120},
                        {field: 'fname', title: '开课学院', width: 120},
                        {field: 'tname', title: '授课教师', width: 120},
                        {
                            field: 'cstat', title: '选课情况', templet: function (d) {
                                if (d.cstat === '0') {
                                    return '<span style="color: #FF5722;">尚未中签</span>'
                                } else if (d.cstat === '1') {
                                    return '<span>已中签</span>'
                                }
                            }
                        }
                    ]]
                })
            });
        }

        $(document).ready(function () {
            course_select();
        });

    </script>
{% endblock %}
