{% extends 'frame.html' %}

{% block title %}
    我的课程
{% endblock %}

{% block left_navi %}
    <li class="layui-nav-item"><a href="javascript:;">课程查看</a></li>
    <li class="layui-nav-item"><a href="javascript:;">个人成绩</a></li>
{% endblock %}

{% block main-content %}
    <div id="course_table">
        <table id="course_list" lay-filter="course_list"></table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#course_list',
                height: 700,
                url: {% url 'get_my_course_list' %},
                page: true,
                cellMinWidth: 100,
                cols: [[
                    {field: 'cid', title: '课程代码', width: 120, sort: true},
                    {field: 'cname', title: '课程名称', width: 120},
                    {field: 'fname', title: '开课学院', width: 120},
                    {field: 'tname', title: '授课教师', width: 120},
                    {field: 'cinfo', title: '课程简介'}
                ]]
            });

            table.on('row(course_list)', function (obj) {
                console.log(obj.data);
            });
        });
    </script>
{% endblock %}