{% extends 't_course_templ.html' %}

{% block title %}{{ cname }}{% endblock %}

{% block curr_page_legend %}{{ cname }}{% block curr_page_legend_detail %}{% endblock %}{% endblock %}

{% block left_navi %}
    <li class="layui-nav-item"><a href={% url 't_course_manage' %}>我的课程</a></li>
    <li class="layui-nav-item"><a href={% url 't_course_notice' course_id %}>课程通知</a></li>
    <li class="layui-nav-item"><a href={% url 't_course_file' course_id %}>课件管理</a></li>
    <li class="layui-nav-item"><a href={% url 't_stu_manage' course_id %}>学生管理</a></li>
    <li class="layui-nav-item"><a href={% url 't_set_pre' course_id %}>设置先修课程</a></li>
{% endblock %}