{% extends 't_course_templ.html' %}

{% block title %}课程管理{% endblock %}

{% block curr_page_legend %}我的课程{% endblock %}

{% block course_main_content %}
    <div id="course_table">
        <table id="course_list" lay-filter="course_list"></table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#course_list',
                height: 700,
                url: {% url 'get_t_my_course_list' %},
                page: true,
                cellMinWidth: 100,
                cols: [[
                    {field: 'cid', title: '课程代码', width: 120, sort: true},
                    {field: 'cname', title: '课程名称', width: 120},
                    {field: 'fname', title: '开课学院', width: 120},
                ]]
            });

            table.on('row(course_list)', function (obj) {
                window.location.href = {% url 't_course_manage' %} + obj.data.cid.toString();
            });
        });
    </script>
{% endblock %}